<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GROUPIE</title>
</head>
<body>
    <h1>ARTIST PART</h1>
    <ul>
        {{range .}}
        <li>
            <img src="{{.Image}}" alt="Artist Image" width="200"><br>
            <strong>Name:</strong> {{.Name}}<br>
            <strong>Creation Date:</strong> {{.Creation_date}}<br>
            <strong>First Album:</strong> {{.First_album}}<br>
            <strong>Members:</strong> {{range .Member}}{{.}}, {{end}}<br>
        </li>
        <br>
        {{end}}
    </ul>
    <hr>
</body>
</html>
