<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>groupie</title>
</head>
<body>
    <h1>HELLO THERE THIS HOME</h1>
    <h3>TOP ARTISTS</h3>
    <ol>
        {{range .Top_artist}}
        <li>
            <img src="{{.Image}}" alt="art">
            <p>{{.Name}}</p>
        </li>
        {{end}}
    </ol>
    <hr>
    <hr>
    <h3>TOP ALBUM</h3>
    {{range .Top_album}}
    <div>
        <img src="{{.Image}}" alt="art">
        <p>{{.First_album}}</p>
    </div>
    {{end}}
    </body>
</body>
</html>